.about {
  display: flex;
  margin: 5%;
  padding: 0;
  text-align: left;
  font-size: calc(12px + 1vw);
  /* color: rgb(125, 125, 104); */
  color: rgb(127, 126, 126);
  margin-top: 15%;
  /* padding-top: 5%; */
}

.about img {
  /* width: 20%; */
  padding-right: 2%;
  /* min-width: 200px; */
  margin: auto;
  max-width: max(20%, 200px);
  border-radius: 25px;
}

.info {
  padding-left: 2%;
}

.contact {
  display: flex;
}

.contact p {
  padding-left: 15px;
  margin: 0;
}

.contact h4 {
  margin: 0;
}

#home {
  margin: 0;
  padding: 0;
}
